.milk-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.milk-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-top: 6em;
  width: 80%;
}

.milk-card {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  border-radius: 8px;
  width: 300px;
  height: 380px;
  margin: 10px;
  padding: 10px;
  cursor: pointer;

}

.milk-card-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.milk-card-info-container {
  padding: 4px;
}

.milk-card-name {
  font-size: 16px;
  margin-bottom: 8px;
  margin-top: 8px;
  font-weight: bold;
}

.milk-card-type {
  text-align: left;
  font-size: 14px;
  color: #959595;
}

.milk-card-storage {
  text-align: right;
  color: #c2c09f;
  font-size: 14px;
}
.milk-card-storage.red {
  color: #b8797f;
}

.milk-card-type-storage-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.search-container {
  width: 75%;
  text-align: center;
}

.search-container p{
  text-align: left;
  font-weight: bold;
  margin-bottom: 10px;
}


input {
  height: 50px;
  font-size: 14px;
  background-image: url(https://cdn2.hubspot.net/hubfs/4004166/bioticresearch_website_assets/images/search_icon.png);
  background-repeat: no-repeat;
  background-position: left center;
  padding-left: 40px;
  background-color: #fff;
  border: 2px solid #ccc;
  box-shadow: none;
  border-radius: 10px;
  margin-bottom: 10px;

}

@media (max-width: 768px) {
  .milk-grid {
    grid-template-columns: repeat(1, 1fr);
    justify-content: center;
    align-items: center;
    width: 350px;
    height: 450px;
    margin: 24px;
    padding: 24px;
  }
  
}

