@import url("https://fonts.googleapis.com/css2?family=Alegreya&display=swap");

.milk__card-storage {
  text-align: right;
  color: #c2c09f;
  font-size: 14px;
}
.milk__card-storage.red {
  color: #b8797f;
}

.milk__card-type-storage-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.milk__search {
  width: 75%;
  text-align: center;
}

.milk__counter p {
  margin-top: 10px;
  font-family: "Alegraya";
}

